<div>
    <h2 data-translate="jhipstergatwayApp.digitalCertificate.home.title">Digital Certificates</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="digital-certificate.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="jhipstergatwayApp.digitalCertificate.home.createLabel">
                        Create new Digital Certificate
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'jhipstergatwayApp.digitalCertificate.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="jhipstergatwayApp.digitalCertificate.certChain">Cert Chain</span></th>
                    <th><span data-translate="jhipstergatwayApp.digitalCertificate.certificateSerial">Certificate Serial</span></th>
                    <th><span data-translate="jhipstergatwayApp.digitalCertificate.termStartDate">Term Start Date</span></th>
                    <th><span data-translate="jhipstergatwayApp.digitalCertificate.termEndDate">Term End Date</span></th>
                    <th><span data-translate="jhipstergatwayApp.digitalCertificate.signature">Signature</span></th>
                    <th><span data-translate="jhipstergatwayApp.digitalCertificate.encryption">Encryption</span></th>
                    <th><span data-translate="jhipstergatwayApp.digitalCertificate.activeYn">Active Yn</span></th>
                    <th><span data-translate="jhipstergatwayApp.digitalCertificate.digitalCertificateUser">Digital Certificate User</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="digitalCertificate in vm.digitalCertificates track by digitalCertificate.id">
                    <td><a ui-sref="digital-certificate-detail({id:digitalCertificate.id})">{{digitalCertificate.id}}</a></td>
                    <td>{{digitalCertificate.certChain}}</td>
                    <td>{{digitalCertificate.certificateSerial}}</td>
                    <td>{{digitalCertificate.termStartDate | date:'medium'}}</td>
                    <td>{{digitalCertificate.termEndDate | date:'medium'}}</td>
                    <td>{{digitalCertificate.signature}}</td>
                    <td>{{digitalCertificate.encryption}}</td>
                    <td>{{digitalCertificate.activeYn}}</td>
                    <td>
                        <a ui-sref="supplier-detail({id:digitalCertificate.digitalCertificateUser.id})">{{digitalCertificate.digitalCertificateUser.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="digital-certificate-detail({id:digitalCertificate.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="digital-certificate.edit({id:digitalCertificate.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="digital-certificate.delete({id:digitalCertificate.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
